@model CarSearchVM[]


@foreach (var item in Model)
{
<div id="renderColumns">
    <img src="@item.ImgUrl" class="carImg" />
    <p>@item.Model</p>
    <p>Årsmodell: @item.YearModel</p>
    <strong>@item.Price.ToString("c")/dag</strong>
    <p>Betyg: @item.Rating</p>
    <p>@item.Distance.ToString("0.00") km bort</p>
    <a asp-controller="car" asp-action="details" asp-route-id="@item.Id">Detaljer</a>
</div>
}