@model CarSearchVM[]


@foreach (var item in Model)
{
    <div class="card m-1 mb-5 shadow bg-white rounded zoom" id="Card-@item.Id" style="min-width: 185px; max-width: 185px">
        <img class="card-img-top" src="/@item.ImgUrl" style="min-height:151px" alt="Card image cap">

        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@

        <div class="card-body">
            <h5 class="card-title">@item.Model</h5>

            @*<p class="card-text">Årsmodell: @item.YearModel</p>*@
            @for (int i = 0; i < item.Rating; i++)
            {

                <i class=" fa fa-star"> </i>
            }
           @*// <p class="card-text">Betyg: @item.Rating</p>*@
            <br />
            <strong class="card-text">@item.Price.ToString("c")/dag</strong>

        </div>
        <div class="card-footer">
            <small class="text-muted">@item.Distance.ToString("0.00") km bort</small>

        </div>
    </div>
    <script>
  $(function () {

      $('body').on('click', '#Card-@item.Id', function () {
          console.log(@item.Id);
          window.location = "/Car/Details/@item.Id";
      });
  });
    </script>

}

