@model CarRentFormVM



<div class="col">
    <div class="card shadow bg-white rounded" style="width: 324px; min-height: 245px">
        <div class="card-body">
            <h5 class="card-title">@decimal.Round(Model.Price, 0, MidpointRounding.AwayFromZero) kr /dag</h5>
            <p class="card-text">
                <form asp-action="rentcar" asp-controller="car">
                    <div class="form-group">
                        <label asp-for="StartTime"></label>
                        <input class="form-control" asp-for="StartTime" id="StartTime" />
                    </div>
                    <div class="form-group">
                        <label asp-for="EndTime"></label>
                        <input class="form-control" asp-for="EndTime" id="EndTime" />
                    </div>
                    <h5 class="card-title" id="TotalPrice"></h5>
                    <input type="hidden" asp-for="CarId" />
                    <input type="hidden" asp-for="Price" />
                    <input class="button-default mt-3" type="submit" value="Hyr bil" style="width:100%" />
                </form>
            </p>
        </div>
    </div>
</div>

<script>

    $("#TotalPrice").text("Total " + @(Model.Price*2));
    $("#TotalPrice").append(" kr");

    if (Cookies.get("startDate") && Cookies.get("endDate")) {
        $("#StartTime").val(Cookies.get("startDate").replace(" ", "T"));
        $("#EndTime").val(Cookies.get("endDate").replace(" ", "T"));
    }

    $("#StartTime").change(function () {
        var x = document.getElementById("StartTime").value;
        var today = new Date(document.getElementById("EndTime").value);
        if (x > document.getElementById("EndTime").value) {
            document.getElementById("StartTime").value = document.getElementById("EndTime").value;
            $("#TotalPrice").text("Total " + @Model.Price);
            $("#TotalPrice").append(" kr");

        }
        else {
            var pdate = new Date(x);
            var one_day = 1000 * 60 * 60 * 24;    // Convert both dates to milliseconds
            var date1_ms = pdate.getTime();
            var date2_ms = today.getTime();    // Calculate the difference in milliseconds
            var difference_ms = date2_ms - date1_ms;        // Convert back to days and return
            var daysSinceP = (Math.round(difference_ms / one_day));
            daysSinceP = daysSinceP + 1;
            $("#TotalPrice").text("Total " + daysSinceP*@Model.Price );
            $("#TotalPrice").append(" kr");
        }

    })
    $("#EndTime").change(function () {
        var s = document.getElementById("EndTime").value;
        var today = new Date(document.getElementById("StartTime").value);

        if (s < document.getElementById("StartTime").value) {
            document.getElementById("EndTime").value = document.getElementById("StartTime").value;
            $("#TotalPrice").text("Total " + @Model.Price);
            $("#TotalPrice").append(" kr");

        }
        else {


        var pdate = new Date(s);
        var one_day = 1000 * 60 * 60 * 24;    // Convert both dates to milliseconds
        var date1_ms = pdate.getTime();
        var date2_ms = today.getTime();    // Calculate the difference in milliseconds
        var difference_ms = date1_ms - date2_ms;        // Convert back to days and return
        var daysSinceP = (Math.round(difference_ms / one_day));
            daysSinceP = daysSinceP + 1;

            $("#TotalPrice").text("Total " + daysSinceP * @Model.Price );
            $("#TotalPrice").append(" kr");
        }
    })

    Date.prototype.addDays = function (days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
    }
</script>

@*@section scripts {
        <script>
            $(document).ready(function () {


                var x = document.getElementById("StartTime").dateTime;
                console.log(x);
                console.log("hello");

            });
        </script>
    }*@
